@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    font-family: 'Manrope', sans-serif;
}

body {
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.dashboard {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 50px auto;
    padding: 40px;
}

.dashboard h1 {
    text-align: center;
    color: #956829;
}

.book-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: white;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #956829;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="url"],
.form-group textarea {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.category-checkboxes {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 10px;
    font-size: 14px;
    margin: 30px 0px;
}

.category-checkboxes label {
    display: flex;
    border: 1px solid #956829;
    padding: 5px 10px;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
    color: #956829;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.category-checkboxes input[type="checkbox"] {
    display: none;
}

.selected label {
    color: white;
    background-color: #956829;
    border: 1px solid #956829;
}

#submitButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #956829;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    width: 100%;
}

#submitButton:hover {
    background-color: #8D5E20;
}

#responseMessage {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    color: green;
}

#quote {
    resize: none;
}

.buttons {
    display: flex;
    gap: 20px;
    width: 800px;
    margin: 0 auto;
}

#logoutButton {
    background-color: #956829;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    width: 100%;
    margin-bottom: 20px;
}

#logoutButton:hover {
    background-color: #8D5E20;
}

#updateOrDeleteButton {
    background-color: #956829;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    width: 100%;
    margin-bottom: 20px;
}

#updateOrDeleteButton:hover {
    background-color: #8D5E20;
}

#addOrDeleteQuotes {
    background-color: #956829;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    width: 100%;
    margin-bottom: 20px;
}

#addOrDeleteQuotes:hover {
    background-color: #8D5E20;
}

input[type="file"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    width: calc(100% - 22px);
}