@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    font-family: 'Manrope', sans-serif;
}

body {
    background-color: #f0f0f0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    width: 400px;
    padding: 20px 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1 {
    text-align: center;
    color: #956829;
}

.container label {
    display: block;
    font-weight: bold;
    color: #956829;
}

.container input[type="text"],
.container input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.container button {
    display: block;
    padding: 10px 20px;
    background-color: #956829;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    width: 100%;
}

.container button:hover {
    background-color: #8D5E20;
}

.container .error {
    color: red;
}

.forgot-password {
    text-align: center;
}

.forgot-password a {
    text-decoration: none;
    color: #956829;
    font-weight: bold;
}

.forgot-password a:hover {
    text-decoration: underline;
}

#loginForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
